{% extends "layout.html" %}
    {% block content %}
        {% for post in posts %}
            <div class="media border my-5 p-3">
  <div class="media-body">
      <div class="article-metadata">
    
          <a class="mr-2" href="#">By {{ post.author }} </a>
      <small class="text-muted"><i>{{ post.date_posted }}</i></small>
        </div>
      <h4 class="my-3">
          <a class=" article-title " href="#"> {{ post.title }} </a>
      </h4>
          <p class=" article-content ml-2"> {{ post.content }} </p>
    
  </div>
</div>
        {% endfor %}
    {%endblock content %}
   
